In [6]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.master("local").appName("App").getOrCreate()

In [7]:
dfraw = (spark
          .read
          .format("csv")
          .option("header","true")
          .option("inferSchema","true")
          .option("delimiter",";")
          .load("vacinados.csv"))

### select de colunas

In [15]:
dfraw.select('nome','sexo').show(5)

+--------------------+---------+
|                nome|     sexo|
+--------------------+---------+
|AABAN VASCONCELOS...|MASCULINO|
|AABAN VASCONCELOS...|MASCULINO|
|AAMANDA MARIA FRE...| FEMININO|
|AAMANDA MARIA FRE...| FEMININO|
|AAMANDA MARIA FRE...| FEMININO|
+--------------------+---------+
only showing top 5 rows

### outra forma de fazer o select considerada boa pratica converte as colunas para tipo col

In [21]:

import pyspark.sql.functions as f
dfraw.select(f.col('nome'),f.col('sexo')).show(5)

+--------------------+---------+
|                nome|     sexo|
+--------------------+---------+
|AABAN VASCONCELOS...|MASCULINO|
|AABAN VASCONCELOS...|MASCULINO|
|AAMANDA MARIA FRE...| FEMININO|
|AAMANDA MARIA FRE...| FEMININO|
|AAMANDA MARIA FRE...| FEMININO|
+--------------------+---------+
only showing top 5 rows

### filter
#### existem 3 maneiras simples de fazer filtros
#### e abaixo segue um exemplo com duas condições no filtro

In [22]:
dfraw.select(f.col('nome'),f.col('sexo')).filter(f.col('dose')=='1').show(5)

+--------------------+---------+
|                nome|     sexo|
+--------------------+---------+
|AABAN VASCONCELOS...|MASCULINO|
|AAMANDA MARIA FRE...| FEMININO|
|AANA JULIA RAMOS ...| FEMININO|
|AANA MAYARA DA SI...| FEMININO|
|AANTONIO DE MELO ...|MASCULINO|
+--------------------+---------+
only showing top 5 rows

In [24]:
dfraw.select('nome','sexo').filter(dfraw.dose=='1').show(5)

+--------------------+---------+
|                nome|     sexo|
+--------------------+---------+
|AABAN VASCONCELOS...|MASCULINO|
|AAMANDA MARIA FRE...| FEMININO|
|AANA JULIA RAMOS ...| FEMININO|
|AANA MAYARA DA SI...| FEMININO|
|AANTONIO DE MELO ...|MASCULINO|
+--------------------+---------+
only showing top 5 rows

In [31]:
#filtro com parametro
filtro = f.col('dose')=='1'
dfraw.select(f.col('nome'),f.col('sexo')).filter(filtro).show(5)

+--------------------+---------+
|                nome|     sexo|
+--------------------+---------+
|AABAN VASCONCELOS...|MASCULINO|
|AAMANDA MARIA FRE...| FEMININO|
|AANA JULIA RAMOS ...| FEMININO|
|AANA MAYARA DA SI...| FEMININO|
|AANTONIO DE MELO ...|MASCULINO|
+--------------------+---------+
only showing top 5 rows

In [30]:
#filtro com duas condições
dfraw.select(f.col('nome'),f.col('sexo')).filter((f.col('dose')=='1') & (f.col('sexo')=='FEMININO')).show(5)

+--------------------+--------+
|                nome|    sexo|
+--------------------+--------+
|AAMANDA MARIA FRE...|FEMININO|
|AANA JULIA RAMOS ...|FEMININO|
|AANA MAYARA DA SI...|FEMININO|
|ABAGELVA VIEIRA D...|FEMININO|
|ABANEIDE PIRES DE...|FEMININO|
+--------------------+--------+
only showing top 5 rows

In [32]:
#também pode usar where no lugar de filtter
dfraw.select(f.col('nome'),f.col('sexo')).where((f.col('dose')=='1') & (f.col('sexo')=='FEMININO')).show(5)

+--------------------+--------+
|                nome|    sexo|
+--------------------+--------+
|AAMANDA MARIA FRE...|FEMININO|
|AANA JULIA RAMOS ...|FEMININO|
|AANA MAYARA DA SI...|FEMININO|
|ABAGELVA VIEIRA D...|FEMININO|
|ABANEIDE PIRES DE...|FEMININO|
+--------------------+--------+
only showing top 5 rows