In [33]:
from pyspark.sql import SparkSession 
import pyspark.sql.functions as f
from pyspark.sql.functions import StringType
spark = SparkSession.builder.master("local").appName("App").getOrCreate()

In [2]:
df = (spark
          .read
          .format("csv")
          .option("header","true")
          .option("inferSchema","true")
          .option("delimiter",";")
          .load("vacinados.csv"))

### LIKE,  Distinct, IN

In [ ]:
df.createTempView('tb_temp')

In [84]:
spark.sql("select nome from tb_temp where nome like '%AMANDA%' ").show(5)

+--------------------+
|                nome|
+--------------------+
|AAMANDA MARIA FRE...|
|AAMANDA MARIA FRE...|
|AAMANDA MARIA FRE...|
+--------------------+

In [85]:
spark.sql("select Distinct nome from tb_temp where nome like '%AMANDA%' ").show(5)

+--------------------+
|                nome|
+--------------------+
|AAMANDA MARIA FRE...|
+--------------------+

In [87]:
spark.sql("select Distinct nome from tb_temp where dose in ('1')").show(5)

+--------------------+
|                nome|
+--------------------+
|ABDIAS CABRAL DO ...|
|ABDIAS ANTONIO DA...|
|ABDIAS BRENNICHI ...|
|ABDIAS GUILHERMIN...|
|AARNON PRESLEY XA...|
+--------------------+
only showing top 5 rows